.section1 {
  // border: 1px solid red;
  display: flex;
  width: 100vw;
  height: 85vh;
  max-width: 1440px;
  padding-left: 20px;

  .s1-text {
    margin-right: -500px;
    margin-top: 15vh;
    color: #797b84;

    h1 {
      font-weight: 900;
      font-size: 3rem;
    }

    p {
      max-width: 80%;
      font-weight: 700;
      font-size: 0.8rem;
    }
  }

  .manison {
    width: 70vw;
    max-width: 1200px;
    min-width: 800px;
    margin-top: 35vh;
  }
}
