.services-box{
    border: 1px solid #e8e9eb;
    width: 300px;
    max-height: 150px;
    padding: 0 20px 20px 20px;

    img{
        margin-top: -26px;
    }

    h3{
        padding-top: 10px;
        font-size: 1rem;
    }

    p{
        font-size: 0.9rem;
        color: #797b84;
        padding-top: 10px;
    }

   
}