* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu-page-positioning {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .background-color {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    top: 0px;
    left: 0;
    background: linear-gradient(to right bottom, #000000 10%, rgba(0, 0, 0, 0));
 
  }

  .menu-pages-img{
    background-size: cover;
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100%;
    top: 0px;
    left: 0;
  }
}
